.card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;

}

.card{
    border-radius: 50px ;
    border: 2px solid black;
    width: 100%;
    border-radius: 50px;
    margin-left: 0.1%;
    margin-right: 0.1%;
    display: flex;
    justify-content: center;
}