.post-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1%;
}





.post-container .title{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px black solid;
    border-radius: 4px;
    margin-bottom: 1rem; 
       
}


.post-container .tags{

    display: flex;
    flex-direction: row;
    padding: 1%;
}

.post-container .desciption-label{

    padding-top: 1%;
    padding-bottom: 1%;

}

.post-container .description{
    width: 100%;
    height: 400px; 
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    
}